// ---- ---- fonts ---- ---- //
@font-face {
  font-family: "sf-pro-display";
  src: url("../fonts/SF-Pro-Display-Regular.woff2") format("woff2"),
    url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "sf-pro-display";
  src: url("../fonts/SF-Pro-Display-Bold.woff2") format("woff2"),
    url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "spaceagecyrillic";
  src: url("../fonts/spaceagecyrillic-regular.woff2") format("woff2"),
    url("../fonts/spaceagecyrillic-regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

// ---- ---- colors ---- ---- //
$color_main: #fff;
$color_hover: #036cca;

// ---- ---- **** ---- ---- //

// ---- ---- **** ---- ---- //

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "sf-pro-display";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: $color_main;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  font-family: "sf-pro-display";
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

// ---- ---- main ---- ---- //
.container {
  max-width: 1220px;
  padding: 0px 10px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/bg/bg_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  // padding-bottom: 100px;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0px 30px;
  }
  &__content {
    max-width: 600px;
  }
  &__title {
    font-family: "spaceagecyrillic";
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 20px;
    span {
      font-size: 110px;
    }
  }
  &__text {
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  &__btn {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    border: 1px solid $color_main;
    padding: 15px 10px 16px;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $color_hover;
      border: 1px solid $color_hover;
    }
  }
  &__description {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 5%;
  }
  &__description-text {
    width: 165px;
    font-size: 14px;
    line-height: 17px;

    & + .header__description-text {
      margin-left: 52px;
    }
  }
}
.menu {
  &__list {
    display: flex;
  }
  &__item {
    margin-right: 30px;
  }
  &__link {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    transition: color 0.3s ease;
    &:hover {
      color: $color_hover;
    }
  }
}
.phone {
  display: block;
  font-size: 24px;
  line-height: 29px;
  margin-left: auto;
}
.login {
  margin-left: 22px;
  margin-right: 134px;
}
.title {
  font-family: "spaceagecyrillic";
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  padding: 100px 0;
}
.button {
  text-transform: uppercase;
  border: 1px solid $color_main;
  font-size: 18px;
  line-height: 21px;
  padding: 20px 45px;
  transition: all 0.3s ease;
  &:hover {
    color: $color_hover;
    border: 1px solid $color_hover;
  }
}

.main {
}
.about {
  background-image: url(../images/bg/bg_content.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 150px;
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }
  &__img {
    max-width: 100%;
  }
  &__content {
    width: 600px;
  }
  &__content-title {
    font-family: "sf-pro-display";
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 5px;
  }
  &__content-subtitle {
    font-family: "sf-pro-display";
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
    color: $color_hover;
    margin-bottom: 30px;
  }
  &__content-text {
    display: flex;
    justify-content: space-between;
    font-family: "sf-pro-display";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 50px;
    p {
      width: 165px;
    }
  }
}

.table {
  &__content {
    margin-bottom: 50px;
  }
  &__tr {
    border: 1px solid $color_main;
    border-left: none;
    border-right: none;
    & + .table__tr {
      font-size: 36px;
      font-weight: 700;
      line-height: 43px;
      text-align: center;
      span {
        display: block;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
  &__td {
    padding: 10px 30px 10px 0px;
  }
  &__caption {
    caption-side: bottom;
    text-align: left;
    font-size: 12px;
    line-height: 14px;
    color: #e5e5e5;
    margin-top: 20px;
  }
}
